<div class="app-layout" [attr.dir]="dir" [class.has-sidebar]="showShell">

  <ng-container *ngIf="showShell">
    <app-sidebar
      [isSidebarOpen]="isSidebarOpen"
      (closeSidebar)="closeSidebar()"
    ></app-sidebar>
  </ng-container>

  <div class="main-content">

    <app-top-header
      *ngIf="showShell"
      (menuToggle)="toggleSidebar()"
    ></app-top-header>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div
    *ngIf="showShell && isSidebarOpen"
    class="sidebar-overlay"
    (click)="closeSidebar()"
  ></div>
</div>
